.title {
  text-align: center;
}

hr {
  width: 80%;
  border-top: 2px solid black;
}

.info-container {
 text-align: center;
  height: 300px;
  margin: auto;
}

.line-chart {
  width: 480px;
  height: auto;
  margin: auto;
}

.timesteps-summary {
  min-width: 100x;
}

